#slideContainer{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
    overflow: hidden;
    background-color: blue;
}
#intro{
    position: absolute;
    width: 100%;
    height: 100%;
    transition: left 1s;
    background-color: rgb(43, 161, 43);
}
#mapGame{
    position: absolute;
    width: 100%;
    height: 100%;
    transition: left 1s;
    background-color: rgb(175, 96, 96);
}
#airQuiz{
    position: absolute;
    width: 100%;
    height: 100%;
    transition: left 1s;
    background-color: rgb(245, 148, 37);
}
#toBeContinue{
    position: absolute;
    width: 100%;
    height: 100%;
    transition: left 1s;
    background-color: rgb(79, 38, 194);
}
#slideRight{
    width: 0; 
    height: 0; 
    position: absolute;
    right: 0%;
    top: 40%;
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    border-left: 60px solid rgb(145, 145, 145);
    transition: border-left 0.7s;
}
#slideRight:hover{
    background-color: rgb(241, 183, 94);
}
#slideLeft{
    width: 0; 
    height: 0; 
    position: absolute;
    left: 0%;
    top: 40%;
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    border-right: 60px solid rgb(145, 145, 145);
    transition: border-right 0.7s;
}
#slideLeft:hover{
    background-color: rgb(241, 183, 94);
}