/*
Gradient background...
background-image: linear-gradient(180deg, red, yellow);

Use this to change a tag colors if want, active means when pressing the link
*/
html{
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%
}
body {
    margin: 0;
    overflow-x: hidden; /* Hide horizontal scrollbars */
}
div{
   transform-origin: 0 0;
}
#topNavigaion {
    background-color: black;
    position: fixed;
    /*vw=1% of device width*/
    width: 100vw;
    height: 8vh;
    left: 0vw;
    top: 0vh;
    text-align: center;
    /*Relative to the font-size of the element (2em means 2 times the size of the current font)*/
    font-size: 1.5em;
    border-bottom: white 1px solid;
    overflow: hidden;
}
.navigationLinks:link {
    /*says where the text should be aligned*/
    float: left;
    /*controls the box size of the element*/
    padding: 16px 25px;
    color: white;
    background-color: transparent;
    text-decoration: none;
}
.navigationLinks:visited {
    float: left;
    padding: 16px 25px;
    color: white;
    background-color: transparent;
    text-decoration: none;
}
.navigationLinks:hover {
    color: black;
    background-color: white;
    text-decoration: none;
}
/* Add a color to the active/current link */
.navigationLinks:active {
    background-color: rgb(49, 135, 233);
    color: white;
}
.gameLink:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
.gameLink:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
.gameLink:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
a:link {
    color: rgb(0, 0, 150);
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: rgb(0, 0, 150);
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
#introBanner{
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0vw;
    top: 8vh;
    background-color: black;
}
#introImg{
    position: absolute;
    left: 466px;
    top: 154.5px;
    opacity: 0.3;
}
#overlayText{
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0vw;
    top: 0vh;
    text-align: center;
    color: white;
    font-size: 2em;
    text-shadow: 2px 2px 10px rgb(49, 135, 233);
}
#aboutMe{
    position: absolute;
    width: 100vw;
    height: 125vh;
    left: 0vw;
    top: 108vh;
    text-align: center;
    font-size: 1.5em;
    background-color: rgb(223, 219, 206);
}
#aboutMeText{
    position: absolute;
    width: 80vw;
    height: 100vh;
    left: 10vw;
    top: 0vh;
}
#decorationLineTop{
    position: absolute;
    width: 80vw;
    height: 0;
    background-color: rgb(49, 135, 233);
    right: 0vw;
    top: 0vh;
    border-top: 60px solid transparent;
    border-bottom: transparent;
    border-left: 60px solid rgb(223, 219, 206);
}
#decorationBorderTop{
    position: absolute;
    width: 100vw;
    height: 2vh;
    background-color: rgb(49, 135, 233);
    left: 0vw;
    top: 0vh;
}
#decorationLineBottom{
    position: absolute;
    width: 80vw;
    height: 0;
    background-color: rgb(49, 135, 233);
    left: 0vw;
    bottom: 0vh;
    border-top: transparent;
    border-bottom: 60px solid transparent;
    border-right: 60px solid rgb(223, 219, 206);
}
#decorationBorderBottom{
    position: absolute;
    width: 100vw;
    height: 2vh;
    background-color: rgb(49, 135, 233);
    left: 0vw;
    bottom: 0vh;
}
#slideContainer{
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0vw;
    top: 233vh;
    overflow: hidden;
    text-align: left;
    font-size: 1.125em;
    background-color: rgb(223, 219, 206);
}
.textContainer{
    position: absolute;
    width: 40vw;
    height: 80vh;
    right: 15vw;
    top: 6.5vh;
}
.imgContainer{
    position: absolute;
    width: 25vw;
    height: 80vh;
    left: 15vw;
    top: 6.5vh;
    overflow: hidden;
}
.slideImg{
    position: absolute;
    left: 0vw;
    top: 0vh;
}
#intro{
    position: absolute;
    width: 100vw;
    height: 100vh;
    transition: left 1s;
}
#mapGame{
    position: absolute;
    width: 100vw;
    height: 100vh;
    transition: left 1s;
}
#airQuiz{
    position: absolute;
    width: 100vw;
    height: 100vh;
    transition: left 1s;
}
#bombGame{
    position: absolute;
    width: 100vw;
    height: 100vh;
    transition: left 1s;
}
#toBeContinue{
    position: absolute;
    width: 100vw;
    height: 100vh;
    transition: left 1s;
}
#slideRight{
    width: 0; 
    height: 0; 
    position: absolute;
    right: 5vw;
    top: 40vh;
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    border-left: 60px solid rgb(0, 0, 0);
    transition: border-left 0.7s;
    display: none;
}
#slideLeft{
    width: 0; 
    height: 0; 
    position: absolute;
    left: 5vw;
    top: 40vh;
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    border-right: 60px solid rgb(0, 0, 0);
    transition: border-right 0.7s;
    display: none;
}
.slideCircle{
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgb(253, 222, 175);
    border: black solid 2px;
    transition: opacity 0s;
}
#slide1{
    /*2.5% apart*/
    bottom: 5vh;
    left: 43.75vw;
}
#slide2{
    bottom: 5vh;
    left: 46.25vw;
}
#slide3{
    bottom: 5vh;
    left: 48.75vw;
}
#slide4{
    bottom: 5vh;
    left: 51.25vw;
}
#slide5{
    bottom: 5vh;
    left: 53.75vw;
}
#footer{
    position: absolute;
    width: 100vw;
    height: 40vh;
    left: 0vw;
    top: 333vh;
    background-color: rgb(0, 0, 0);
    text-align: center;
    color: white;
}
.footerIcon{
    font-size: 2.25em;
    /*Specifies the spacing between each letter*/
    letter-spacing: 2px;
}
.footerIcon:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
.footerIcon:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
.footerIcon:hover {
    color: gold;
    background-color: transparent;
}